*{
  box-sizing: border-box;
}

body{
  height:100vh;
  margin:0;
}

/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}
.codeLine{
  margin: 0 !important;
  padding: .2em !important;
}

.token.operator{
  background-color: transparent !important;
}